.table__page{
    text-align: center;
}
.table__link{
    color: #FFFFFF;
    font-size: 1.3rem;
}
table{
    background-color: #FFFFFF;
    color: black;
    margin: 0 auto;
    margin-top: 100px;
}
caption{
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 15px;
}
th{
    width: 100px;
}

td{
    text-align: center;
}

.loading{
    display: block;
    margin: 100px auto 0  auto ;
}

.input__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 100px auto;
    color: #FFFFFF;
}

.table__input {
    height: 30px;
    margin-right: 20px;
}

.table__btn{
    height: 50px;
}



