.check{
    display: flex;
    align-items: center;
    position: relative;
}

.check__radio{
    z-index: 99;
    transform: scale(1.6);
    cursor: pointer;
    appearance: none;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    transition: 0.2s all linear;
    outline: none;
}

.check__radio:checked{
    background-color: #302594;
}

.check__img{
    cursor: pointer;
    position: absolute;
    left: -9px;
}

.check__text{
    display: inline-block;
    padding-left: 20px;
    font-family: 'Roboto', 'Inter', 'sans-serif';
    font-weight: 500;
    font-size: 0.81rem;
    max-width: 70px;
    cursor: pointer;
}